<img src="{{ section.settings.bg_img | img_url: 'master' }}" alt="coffee image" class="bst-midimg">
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-12"> 
            <div class="vertical-tab-left coffeethree-column-box">
                <div class="section-title">
                    <div class="subtitle">{{ section.settings.subtitle }}</div>
                    <h3>{{ section.settings.title }}</h3>
                </div>
                <p>{{ section.settings.desc }}</p>
                <a href="{{ section.settings.btn_url }}" class="link-btn">{{ section.settings.btn }}</a>
            </div>  
        </div>
        <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12">
            <div class="vertical-tab-center">
                <div class="subtitle">{{ section.settings.heading }}</div>
                <ul class="cat-tab tabs">
                    {%- for block in section.blocks -%}
                    <li class="tab-link {% if forloop.first %}active{% endif %}" data-tab="prodtab-{{block.id}}">
                       <a href="javascript:;">
                          {{ block.settings.c_name }}
                       </a>
                    </li>
                 {%- endfor -%}
                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-8 col-sm-7 col-12"> 
            <div class="tabs-container">
                {%- for block in section.blocks -%}
                    <div class="tab-content {% if forloop.first %}active{% endif %}" id="prodtab-{{block.id}}"> 
                        <div class="testimonial-slider">
                            {%- for i in (1..4) -%}
                            {%- assign proimg = 'proimg_' | append: i -%}{%- assign proimg = block.settings[proimg] -%}
                            {%- assign subtitle = 'subtitle_' | append: i -%}{%- assign subtitle = block.settings[subtitle] -%}
                            {%- assign title = 'title_' | append: i -%}{%- assign title = block.settings[title] -%}
                            {%- assign desc = 'desc_' | append: i -%}{%- assign desc = block.settings[desc] -%}
                            {%- assign author = 'author_' | append: i -%}{%- assign author = block.settings[author] -%}
                            {%- assign designation = 'designation_' | append: i -%}{%- assign designation = block.settings[designation] -%}
                            {%- assign img = 'img_' | append: i -%}{%- assign img = block.settings[img] -%}
                            {%- assign review = 'review_' | append: i -%}{%- assign review = block.settings[review] -%}
                                <div class="testimonial-itm">
                                    <div class="testimonial-itm-inner">
                                        <div class="testimonial-itm-image"> 
                                            <img src="{{ proimg | img_url: 'master' }}" alt="review"> 
                                        </div>
                                        <div class="testimonial-itm-content"> 
                                            <div class="testimonial-content-top">
                                                <div class="subtitle">{{ subtitle }}</div>
                                                <h4>{{ title }}</h4>
                                                <blockquote>{{ desc}}</blockquote>
                                            </div> 
                                            <div class="testimonial-bottom d-flex align-items-center">
                                                <span class="client-name">{{ author }}, {{ designation }}</span>
                                                <div class="testimonial-str d-flex align-items-center"> 
                                                    <img src="{{ img | img_url: 'master' }}" alt="star">
                                                    <span class="star-count">{{ review }} / <b> 5.0</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "t:settings_schema.testimonial.name",
  "tag": "div",
  "class": "vertical-tab-section tabs-wrapper",
  "max_blocks": 5,
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "t:settings_schema.common.settings.bg_img"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:settings_schema.common.settings.subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:settings_schema.common.settings.title"
    },
    {
      "type": "text",
      "id": "desc",
      "label": "t:settings_schema.common.settings.desc"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "t:settings_schema.common.settings.btn_url"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "t:settings_schema.common.settings.btn"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings_schema.testimonial.settings.heading"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:settings_schema.testimonial.name",
      "settings": [
        {
          "type": "text",
          "id": "c_name",
          "label": "t:settings_schema.testimonial.settings.c_name"
        },
        {
          "type": "header",
          "content": "t:settings_schema.testimonial.settings.re_1"
        },
        {
          "type": "image_picker",
          "id": "proimg_1",
          "label": "t:settings_schema.testimonial.settings.img"
        },
        {
          "type": "text",
          "id": "subtitle_1",
          "label": "t:settings_schema.common.settings.subtitle"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "t:settings_schema.common.settings.title"
        },
        {
          "type": "textarea",
          "id": "desc_1",
          "label": "t:settings_schema.testimonial.settings.desc"
        },
        {
          "type": "text",
          "id": "author_1",
          "label": "t:settings_schema.testimonial.settings.aut_name"
        },
        {
          "type": "text",
          "id": "designation_1",
          "label": "t:settings_schema.testimonial.settings.aut_design"
        },
        {
          "type": "image_picker",
          "id": "img_1",
          "label": "t:settings_schema.testimonial.settings.str_img"
        },
        {
          "type": "text",
          "id": "review_1",
          "label": "t:settings_schema.testimonial.settings.review"
        },
        {
          "type": "header",
          "content": "t:settings_schema.testimonial.settings.re_2"
        },
        {
          "type": "image_picker",
          "id": "proimg_2",
          "label": "t:settings_schema.testimonial.settings.img"
        },
        {
          "type": "text",
          "id": "subtitle_2",
          "label": "t:settings_schema.common.settings.subtitle"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "t:settings_schema.common.settings.title"
        },
        {
          "type": "textarea",
          "id": "desc_2",
          "label": "t:settings_schema.testimonial.settings.desc"
        },
        {
          "type": "text",
          "id": "author_2",
          "label": "t:settings_schema.testimonial.settings.aut_name"
        },
        {
          "type": "text",
          "id": "designation_2",
          "label": "t:settings_schema.testimonial.settings.aut_design"
        },
        {
          "type": "image_picker",
          "id": "img_2",
          "label": "t:settings_schema.testimonial.settings.str_img"
        },
        {
          "type": "text",
          "id": "review_2",
          "label": "t:settings_schema.testimonial.settings.review"
        },
        {
          "type": "header",
          "content": "t:settings_schema.testimonial.settings.re_3"
        },
        {
          "type": "image_picker",
          "id": "proimg_3",
          "label": "t:settings_schema.testimonial.settings.img"
        },
        {
          "type": "text",
          "id": "subtitle_3",
          "label": "t:settings_schema.common.settings.subtitle"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "t:settings_schema.common.settings.title"
        },
        {
          "type": "textarea",
          "id": "desc_3",
          "label": "t:settings_schema.testimonial.settings.desc"
        },
        {
          "type": "text",
          "id": "author_3",
          "label": "t:settings_schema.testimonial.settings.aut_name"
        },
        {
          "type": "text",
          "id": "designation_3",
          "label": "t:settings_schema.testimonial.settings.aut_design"
        },
        {
          "type": "image_picker",
          "id": "img_3",
          "label": "t:settings_schema.testimonial.settings.str_img"
        },
        {
          "type": "text",
          "id": "review_3",
          "label": "t:settings_schema.testimonial.settings.review"
        },{
          "type": "header",
          "content": "t:settings_schema.testimonial.settings.re_4"
        },
        {
          "type": "image_picker",
          "id": "proimg_4",
          "label": "t:settings_schema.testimonial.settings.img"
        },
        {
          "type": "text",
          "id": "subtitle_4",
          "label": "t:settings_schema.common.settings.subtitle"
        },
        {
          "type": "text",
          "id": "title_4",
          "label": "t:settings_schema.common.settings.title"
        },
        {
          "type": "textarea",
          "id": "desc_4",
          "label": "t:settings_schema.testimonial.settings.desc"
        },
        {
          "type": "text",
          "id": "author_4",
          "label": "t:settings_schema.testimonial.settings.aut_name"
        },
        {
          "type": "text",
          "id": "designation_4",
          "label": "t:settings_schema.testimonial.settings.aut_design"
        },
        {
          "type": "image_picker",
          "id": "img_4",
          "label": "t:settings_schema.testimonial.settings.str_img"
        },
        {
          "type": "text",
          "id": "review_4",
          "label": "t:settings_schema.testimonial.settings.review"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:settings_schema.testimonial.name"
    }
  ]
}
{% endschema %}
